<h3>Edit your profile</h3>

<form action="/users/profile" method="post">
  <div><input type="text" name="username" value="<%= @user.username%>"></div>
  <div><input type="password" name="password_hash" value="<%= @user.password_hash %>"></div>
  <div><input type="text" name="first_name" value="<%= @user.first_name %>"></div>
  <div><input type="text" name="last_name" value="<%= @user.last_name %>"></div>
  <div><input type="text" name="email" value="<%= @user.email %>"></div>
  <div><input type="text" name="phone_number" value="<%= @user.phone_number %>"></div>
  <div><input type="hidden" name="_method" value="put"></div>
  <div><input type="submit"></div>
</form>