<h3><%=@user.username%> World</h3>
<h4><%=@user.first_name%> <%=@user.last_name%></h4>


<% if session[:user_id] != nil && session[:user_id] != @user.id  && current_user.followings.include?(User.find_by(username: params[:username])) == true %>

 <h4><%=@user.email%></h4>
 <h4><%=@user.phone_number%></h4>

<% end %>


<ul>
  <% if @keit != nil %>
    <% @keit.each do |keit| %>
      <li><%=keit.text%></li>
    <% end %>
  <% else %>
    <p> Post a keit you fucker </p>
  <% end %>
</ul>


<% if session[:user_id] != nil && session[:user_id] == @user.id %>

  <form action="/keits" method="post">
    <div><input type="text" name="text" placeholder="write your Keit"></div>
    <div><input type="submit"></div>
  </form>

  <div><a href="/users/profile">Wanna check/update your Keit profile</a></div>

<% end %>


<% if session[:user_id] != nil && session[:user_id] != @user.id  && current_user.followings.include?(User.find_by(username: params[:username])) == false %>

  <form action="/users/<%=@user.username%>" method="post">
    <div><input type="submit" value="Keit Me"></div>
  </form>

<% end %>


<button><a href="/users/profile/relationships">See your relationships</a></button>